@media all and (max-width: 600px) {
 
body {
  background-color: whitesmoke;
  width:90%;
  margin-left: 5%;

}
.topnav
{
	background-color: #5a6373;
	height: 1cm;
	border-radius: 15px;
	box-shadow: 10px 10px 20px #5a6373;

}.topnav ul
{
	position: relative;
	top: 0.2cm;
	list-style: none;
	text-align: center;
	margin-left: -40px;
}
.topnav ul li
{
	display: inline;
	padding: 1%;
	font-family: sans-serif;
	font-weight: bold;
}
.topnav ul li a
{
	text-decoration: none;
	color : white;
	font-size: 12px;
}
.topnav ul li a:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
	background-color: white;
	border-radius: 10px;
	transition: 0.5s;
}

section{
	float: left;
	width: 100%;
	background: snow;
	border-radius: 20px;
	box-shadow: 10px 10px 20px #5a6373;
	margin-bottom: 20px;

}


h2 {
  color: teal;
  text-align: center;
  font-family: verdana;
  font-size: 18px;
}

h3 {
  color: 	indianred;
  text-align: center;
  font-family: verdana;
  font-size: 18px;
}

h4{
  color: cadetblue	;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
}

p {
  font-family: verdana;
  font-size: 12px;
  text-align: center;
  color: darkcyan;
  margin-bottom: -10px;
}

h5{
  color: teal;
  text-align: center;
  font-family: verdana;
  font-size: 10px;
}
h5 a
{
	text-decoration:none;
	color:mediumslateblue;
	font-size: 10px;
}
h5 a:hover
{
	color: mediumslateblue;
}

.page_nav{
	position: relative;
	text-align: center;
	font-family: verdana;
	margin-bottom: 10px;
	margin-top: -10px;

}
.page_nav a{
	text-decoration: none;
	font-size: 15px;
	color: peru;
}

.page_nav a:hover{
	font-weight: bold;
	color: sienna;
}

.footer {
  background-color: #5a6373;
  position: relative;
  bottom: -1cm;
  border-radius: 20px;
  box-shadow: 10px 10px 15px #5a6373;
  margin-bottom: 0.5cm;
}

.footer .social {
	text-align: center;
	margin-left: -40px;
}

.footer .social li{
	position: relative;
	display: inline;

}
.footer .social li a{
	text-decoration: none;
	color: white;
}

.fa{
	padding: 10px;
  text-decoration: none;
  margin: 2px 1px;
  border-radius: 50%;
}
.fa:hover {
    font-size: 21px;
}
.fa-facebook {

  color: white;
}
.fa-youtube {
  color: white;
}
.fa-instagram {
  color: white;
}

.footer .copyright{
	color: white;
	text-align: center;
	font-family: verdana;
	font-size: 12px;
	padding-bottom: 10px;
}

}


@media all and (min-width: 600px) {

@media all and (min-width: 900px){
body {
  background-color:	whitesmoke;
  width: 80%;
  margin-left: 10%;
}
}
@media all and (max-width: 900px){
body {
  background-color:	whitesmoke;
  width: 90%;
  margin-left: 5%;
}
}
.topnav
{
	
	background-color: #5a6373;
	height: 1.5cm;
	width: 100%;
	border-radius: 15px;
	box-shadow: 10px 10px 20px #5a6373;

}
.topnav ul
{
	position: relative;
	top: 0.4cm;
	list-style: none;
	text-align: center;
}
.topnav ul li
{
	display: inline;
	padding: 3%;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
}
.topnav ul li a
{
	text-decoration: none;
	color : white;
}
.topnav ul li a:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
	background-color: white;
	border-radius: 10px;
	transition: 0.5s;
}

.main{
	padding-top: 0.75cm;
}

h1 {
  color: saddlebrown;
  text-align: center;
  font-size: 40px;
  font-style: bold;
}

h2 {
  color: teal;
  text-align: center;
  font-family: verdana;
  font-size: 1.7rem;
}

h3 {
  color:darkolivegreen	;
  text-align: left;
  font-family: verdana;
  font-size: 1.7rem;
  margin-left: 15%;
}

h4{
	color:cadetblue	;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 1.2rem;
  text-align: center;
   color: darkcyan;
   margin-bottom: -10px;
}

h5{
	color: teal;
  text-align: center;
  font-family: verdana;
  font-size: 10px;
  margin-bottom: -15px;
}
h5 a
{
	text-decoration:none;
	color:teal;
}
h5 a:hover
{
	color: mediumslateblue;
	font-size: 11px;
}



@media all and (min-width: 900px){
.footer {
  background-color: #5a6373;
  position: relative;
  width: 100%;
  border-radius: 100px;
  box-shadow: 10px 10px 15px #5a6373;
  margin-bottom: 0.5cm;
  height: 120px;
}
}
@media all and (max-width: 900px){
.footer {
  background-color: #5a6373;
  position: relative;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 15px #5a6373;
  margin-bottom: 0.5cm;
}
}
.footer .social {
	text-align: center;
}

.footer .social li{
	position: relative;
	display: inline;
	text-align: center;
}
.footer .social li a{
	text-decoration: none;
	color: white;
}

.fa{
	position: relative;
  padding: 10px;

  font-size: 21px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    font-size: 24px;
}
.fa-facebook {
  color: white;
}
.fa-youtube {

  color: white;
}
.fa-instagram {
 
  color: white;
}

.footer .copyright{
	
	color: white;
	width: 100%;
	position: relative;
	text-align: center;

}

}

